<!DOCTYPE html>
<html>

<body>
<div class="row">
<div class="card">
     <img class="card-avatar" src="avatar_popo.jpg" alt="Avatar" style="width:80%">

    <div class="container">
   <h4>Loogaroo</h4>
   <h2><b>Pauline</b></h2>
   <p>Je me souviens encore du premier vegan que j'ai mangé.</p>
    </div>
</div>

<div class="cardtwo">
     <img class="cardtwo-avatar" src="avatar_vegan.jpg" alt="Avatar" style="width:80%">

    <div class="containertwo">
   <h4>Vegan</h4>
   <h2><b>Irina</b></h2>
   <p>La plus vegan toute les vegans... Elle ne vous decevra jamais!</p>
    </div>
    </div>

    <div class="cardthree">
     <img class="cardthree-avatar" src="avatar_coupidon.jpg" alt="Avatar" style="width:80%">

    <div class="containerthree">
   <h4>Cupidon</h4>
   <h2><b>Margaux</b></h2>
   <p>Elle va vous piquer avec sa flèche, et vous ne le regretterez pas...</p>
    </div>
    
</div>
</body>
</html>

