<div class="navbar">

    <div class="site-name">
      <h2><%= link_to "Landing Page", root_path, :class => "site_name_link" %></h2>
    </div>

    <div class="navbar-buttons">
      
    </div>

    <div class="avatar">
      <%= link_to "Max", "https://github.com/TheFSilver", :class => "myname", target: :_blank %>
      
      <div class="dropdown">
        <button class="dropbtn"><%= image_tag('avatar.jpg', :class => "avatar_img", :alt => "Github EliSparow") %></button>
        <div class="dropdown-content">
          <a href="#">HTML Code</a>
          <a href="#">CSS Code</a>
          <a href="#">Images</a>
        </div>
      </div>
    </div>

</div>